{% extends "base.html" %}
{% load static %}

{% block content %}

<body>
    <h1>Football Codebase</h1>
    <br>
    <img src="{% static 'assets/img/messi-shoe-celebration.jpg' %}"
         width="400px" height="500px">
    <div></div>
    <br>
    <h2>Search All Players</h2><p>(Number of players: {{ num_players }})</p>

    <input type="text" id="query" placeholder="Search...">
    <div id="results"></div>
    <br>
    <br>
    <h2>TOP 50 GOALSCORERS THIS SEASON</h2>
    <br>
    {% for player in best_players %}
        <p>{{ player.name }} | {{ player.team_name }} | {{ player.goals }}</p>
    {% endfor %}



<!----- JAVASCRIPT ------->
{% block js %}
<script>
    const queryInput = document.getElementById('query');
    const resultsDiv = document.getElementById('results');

    queryInput.addEventListener('input', function() {
        const query = queryInput.value;
        const min_characters = 3;
        if (query.length >= min_characters) {
            fetch(`/search_player?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    resultsDiv.innerHTML = '';
                    data.results.forEach(result => {
                        const resultItem = document.createElement('div');
                        resultItem.textContent = `${result.name} | ${result.team_name} | ${result.goals}`;
                        resultsDiv.appendChild(resultItem);
                    });
                });
        } else {
            resultsDiv.innerHTML = '';
        }
    });
</script>
{% endblock %}
</body>

{% endblock %}
